/*
GENERAL
*/
:root {
    --product-width: 5rem;
    --switch-height: 1.5rem;
    --color-dark: #343a40;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active,
a:visited:hover {
    color: black;
    text-decoration: none;
}
@font-face {
    font-family: "Simple";
    src: url("../fonts/lineto-simple-light.eot");
    src: url("../fonts/lineto-simple-light.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/lineto-simple-light.woff2") format("woff2"),
        url("../fonts/lineto-simple-light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Simple";
    src: url("../fonts/lineto-simple-regular.eot");
    src: url("../fonts/lineto-simple-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/lineto-simple-regular.woff2") format("woff2"),
        url("../fonts/lineto-simple-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Simple";
    src: url("../fonts/lineto-simple-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url(../fonts/merriweather.ttf) format("truetype");
    font-family: "Merriweather";
    font-weight: 200 900;
    font-stretch: normal;
    font-style: normal;
}
body {
    font-family: "Merriweather", "Times New Roman", "Times", serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3 {
    font-family: "Simple", "Menlo", "Monaco", "Consolas", "Courier New",
        monospace;
    font-weight: 400;
}

.invisible {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/*
HEADER
*/
header {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #fff;
    padding: 1em;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.header-creators {
    text-align: right;
    font-size: 0.8em;
    height: 50px;
    display: inline-block;
    line-height: 1.5;
}
.header-brands {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.header-brand {
    padding: 0;
}
.header-brand img {
    height: 50px;
}
#header-authors {
    text-align: right;
}
/*
CONTENT
*/
#headline {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
#content {
    padding: 0 1rem;
}
/*
CATEGORIES
*/
.category-columns {
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.category {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 0.75rem;
}
.category-header,
.subcategory-header {
    margin-bottom: 0.5rem;
    padding: 5px;
    font-weight: 400;
    font-family: "Simple", "Menlo", "Monaco", "Consolas", "Courier New",
        monospace;
    font-size: 1rem;
}
.category-header {
    background: var(--color-dark);
    color: #fff;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.subcategory-header {
    background: #fff;
    color: #6c757d;
    border-top: 1px dashed rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem 0;
}
.counter-text {
    font-size: 0.75em;
    line-height: 2;
    font-style: italic;
    white-space: nowrap;
}

/*
PRODUCTS
*/

.product-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--product-width), 1fr));
    padding: 0 1rem;
    gap: 0.1em;
    row-gap: 0.5em;
    justify-items: center;
}
.product {
    width: var(--product-width);
    padding: 0.2rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.product-manufacturer {
    font-weight: lighter;
    color: #666666;
    hyphens: auto;
}
.product-name {
    display: block;
    font-weight: bold;
    hyphens: auto;
}
.logo {
    width: 100%;
    max-height: 30px;
    display: inline-block;
    object-fit: contain;
}
.product-title {
    margin-top: 10px;
}
.product-unavailable {
    opacity: 0.25;
    transition: opacity 0.5s ease-out;
}
.product-unavailable:hover {
    opacity: 1;
}
.product-unavailable:hover::after {
    opacity: 0.25;
}
.product-unavailable::after {
    content: "Unavailable";
    position: absolute;
    transform: rotate(-45deg);
    color: red;
    font-size: 1rem;
    font-family: "Simple", "Menlo", "Monaco", "Consolas", "Courier New",
        monospace;
    font-weight: bold;
    text-shadow: 0 0 10px white;
    transition: opacity 0.5s ease-out;
}
.product-highlight::before {
    content: "★";
    position: absolute;
    top: 0rem;
    right: -0.5rem;
    color: gold;
    font-size: 1.25rem;
    z-index: 1;
    line-height: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.product-information-hidden .product-title,
.product-information-hidden .payment-model {
    display: none;
}
/*
TAGS
*/
.mediatype-text {
    border-color: #f8cd5d;
}
.mediatype-image {
    border-color: #f5961e;
}
.mediatype-video {
    border-color: #d62048;
}
.mediatype-audio {
    border-color: #124676;
}
.mediatype-mixed {
    border-color: #31acd6;
}
.mediatype-other {
    border-color: #6ecbd2;
}

.trl-unknown {
    border-style: none;
    border-width: 2px;
}
.trl-basic-research {
    border-style: dotted;
    border-width: 2px;
}
.trl-applied-research {
    border-style: dashed;
    border-width: 2px;
}
.trl-first-applications {
    border-style: solid;
    border-width: 2px;
}
.trl-mass-production {
    border-style: groove;
    border-width: 4px;
}
.payment-model {
    display: inline-block;
    margin: 0.25rem 0.1rem 0;
    padding: 0.1rem;
    font-size: 0.6rem;
    color: #555;
    border: 1px dashed #ddd;
    border-radius: 0.25em;
}

/*
SWITCHES
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
*/
#switches {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.switch-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: flex-end;
}
.switch {
    position: relative;
    display: inline-block;
    width: calc(var(--switch-height) * 2);
    height: var(--switch-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--switch-height) * 0.85);
    width: calc(var(--switch-height) * 0.85);
    left: calc(var(--switch-height) * 0.1);
    bottom: calc(var(--switch-height) * 0.07);
    background-color: white;
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--color-dark);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-dark);
}

input:checked + .slider:before {
    transform: translateX(calc(var(--switch-height) * 0.9));
}

/*
LEGEND
*/
#legend {
    margin-bottom: 2em;
}
.legend-description {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.legend-items {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
}
.legend-item {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

#legend-mediatype .legend-item {
    border-style: solid;
    border-width: 2px;
    width: 100px;
}
#legend-trl .legend-item {
    border-color: #aaa;
}

#legend-payment-model .legend-item {
    margin: 0;
}

#legend-payment-model .payment-model {
    font-size: inherit;
}

#legend-product-highlight .product-highlight {
    position: relative;
    border-style: solid;
    border-width: 2px;
    width: 100px;
    border-color: #aaa;
}

/*
Footer
*/
footer {
    border-top: 1px solid #dee2e6;
    background-color: #fff;
    padding: 2em;
}
footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
}
footer img {
    height: 3rem;
}
footer p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}
#footer-link-innoprom {
    display: flex;
    gap: 2rem;
}
/*
Modal
*/
#modal {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.5);
}
#modal img {
    width: 100%;
    max-height: 50px;
    object-fit: contain;
}
#modal a {
    text-decoration: underline;
}
#modal-grid {
    display: grid;
    grid-template-columns: 10rem 1fr;
    background-color: #ccc;
    gap: 0.1rem;
}
#modal-grid div {
    background-color: white;
    padding: 0.5rem;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens: auto;
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.3;
    outline: none;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    content: " ";
    position: absolute;
    left: 0.5rem;
    height: 1.5rem;
    width: 0.1rem;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/*
Media queries
*/

@media (min-width: 40rem) {
    .category-columns {
        column-count: 2;
    }
    footer .container {
        grid-template-columns: 1fr 1fr;
    }
    .header-brands {
        flex-direction: row;
    }
    .header-creators {
        width: 22rem;
    }
}

@media (min-width: 60rem) {
    .category-columns {
        column-count: 3;
    }
    .container {
        max-width: 90vw;
        margin: 0 auto;
    }
    #content {
        padding: 0;
    }
}

@media (min-width: 120rem) {
    .category-columns {
        display: flex;
    }
    .category {
        height: fit-content;
    }
}
