.container {
    max-width: 960px;
    margin: 0 auto;
}
.je-object__title,
.je-object__controls {
    display: none !important;
}
#valid_indicator {
    display: none;
    margin-left: 1em;
}
img#value_chain {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    border: 1em solid white;
    outline: 1px solid black;
}
table {
    margin-bottom: 2em;
}
table img {
    max-height: 2rem;
}
table caption {
    display: none !important;
}
#output-textarea {
    margin-bottom: 2em;
    height: 20rem;
    margin-top: 0.5em;
}
#download-button {
    margin-left: 0.5em;
}
